
:root {
    --cycle-width: 48px;
    --cycle-height: 24px;
    --border-weight: 1px;
    --space-between-signals: 12px;
    --color-signal-data-dontcare: lightgray;
}

.td-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.td-signal-container {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--space-between-signals);
}

.td-signal-name {
    margin: 0 var(--space-between-signals) 0 auto;
}

.td-signal-content {
    display: inline-flex;
    align-items: center;
}

.td-signal-content:not(.td-signal-content-shift) {
    margin-left: var(--border-weight);
}

.td-signal-content-shift::after {
    content: '';
    width: var(--border-weight);
    height: var(--cycle-height);
}

.td-signal {
    display: inline-block;
    box-sizing: border-box;
    width: calc(var(--signal-width, 1) * var(--cycle-width));
    height: var(--cycle-height);
    margin: 0;
}

.td-signal-clk::before {
    display: block;
    border-top: var(--border-weight) solid black;
    border-left: var(--border-weight) solid black;
    width: 50%;
    height: calc(var(--cycle-height) - var(--border-weight));
    content: '';
}

.td-signal-clk {
    display: inline-flex;
    flex-direction: row;
}

.td-signal-clk-wrapper {
    width: calc(var(--unit-width) * var(--cycle-width));
    height: var(--cycle-height);
    display: inline-block;
    overflow: hidden;
}


.td-signal-clk::after {
    display: block;
    border-left: var(--border-weight) solid black;
    border-bottom: var(--border-weight) solid black;
    width: 50%;
    height: calc(var(--cycle-height) - var(--border-weight));
    content: '';
}

.td-signal-data {
    display: inline-flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: var(--border-weight) solid black;
    border-top-left-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-top-right-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-bottom-left-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-bottom-right-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
}

.td-signal-data-text {
    display: inline-block;
    font-size: calc(var(--cycle-height) / 2);
}

.td-signal-data-dontcare {
    background-color: var(--color-signal-data-dontcare);
}

.td-signal-highz {
    border-top: var(--border-weight) solid black;
    height: 0;
}

.td-signal-high::before {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    height: calc(var(--cycle-height) / 2);
}

.td-signal-low + .td-signal-high::before {
    border-left: var(--border-weight) solid black;
}

.td-signal-high {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-top: var(--border-weight) solid black;
    height: var(--cycle-height);
}

.td-signal-high::after {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    height: calc(var(--cycle-height) / 2);
}

.td-signal-low + .td-signal-high::after {
    border-left: var(--border-weight) solid black;
}

.td-signal-low::before {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    height: calc(var(--cycle-height) / 2);
}

.td-signal-high + .td-signal-low::before {
    border-left: var(--border-weight) solid black;
}

.td-signal-low {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: var(--border-weight) solid black;
    height: var(--cycle-height);
}

.td-signal-low::after {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    height: calc(var(--cycle-height) / 2);
}

.td-signal-high + .td-signal-low::after {
    border-left: var(--border-weight) solid black;
}

.td-signal-smooth-after {
    border-top-left-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-bottom-left-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
}

.td-signal-smooth-before {
    border-top-right-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-bottom-right-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
}

.td-grid-container {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    padding: var(--space-between-signals);
}

.td-grid {
    box-sizing: border-box;
    width: 0;
    height: 100%;
    margin-left: calc(var(--cycle-width) - var(--border-weight));
    border-left: var(--border-weight) dashed gray;
    z-index: -1;
}

.td-grid:first-of-type {
    margin-left: auto;
}

.td-grid:last-of-type {
    margin-right: calc(var(--cycle-width) * var(--signal-width));
}