
:root {
    --cycle-width: 48px;
    --cycle-height: 24px;
    --border-weight: 2px;

    --signal-color-default: #184621;
    --signal-data-dontcare-color: #30181f;
    --signal-highz-color: #34224e;
    --signal-data-color: var(--signal-color-default);
    --signal-general-color: var(--signal-color-default);
    
    --signal-border-color-default: #00e576;
    --signal-data-dontcare-border-color: #ff0166;
    --signal-highz-border-color: #333291;
    --signal-data-border-color: var(--signal-border-color-default);
    --signal-general-border-color: var(--signal-border-color-default);

    --signal-data-text-weight: 500;
}

.td__collapsible_elem__input {
    display: none;
}

.td__collapsible_elem__content {
}

.td__collapsible_elem__input:not(:checked) +
.td__collapsible_elem__content {
    display: none;
}

.td-signal {
    display: inline-block;
    box-sizing: border-box;
    width: calc(var(--signal-width, 1) * var(--cycle-width));
    height: var(--cycle-height);
    margin: 0;
    font-weight: var(--signal-data-text-weight);
}

.td-signal-clk::before {
    display: block;
    border-top: var(--border-weight) solid var(--signal-general-border-color);
    border-left: var(--border-weight) solid var(--signal-general-border-color);
    width: 50%;
    height: calc(var(--cycle-height) - var(--border-weight));
    content: '';
}

.td-signal-clk {
    display: inline-flex;
    flex-direction: row;
}

.td-signal-clk-wrapper {
    width: calc(var(--unit-width) * var(--cycle-width));
    height: var(--cycle-height);
    display: inline-block;
    overflow: hidden;
}

.td-signal-clk::after {
    display: block;
    border-left: var(--border-weight) solid var(--signal-general-border-color);
    border-bottom: var(--border-weight) solid var(--signal-general-border-color);
    width: 50%;
    height: calc(var(--cycle-height) - var(--border-weight));
    content: '';
}

.td-signal-data {
    display: inline-flex;
    background-color: var(--signal-data-color);
    justify-content: center;
    align-items: center;
    border: var(--border-weight) solid var(--signal-data-border-color);
    border-top-left-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-top-right-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-bottom-left-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-bottom-right-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
}

.td-signal-data-text {
    display: inline-block;
    font-size: calc(var(--cycle-height) / 2);
}

.td-signal-data-dontcare {
    background-color: var(--signal-data-dontcare-color);
    border-color: var(--signal-data-dontcare-border-color);
}

.td-signal-highz {
    border-top: var(--border-weight) solid var(--signal-highz-border-color);
    height: 0;
}

.td-signal-high::before {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    height: calc(var(--cycle-height) / 2);
}

.td-signal-low + .td-signal-high::before {
    border-left: var(--border-weight) solid var(--signal-general-border-color);
}

.td-signal-high {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--signal-general-color);
    border-top: var(--border-weight) solid var(--signal-general-border-color);
    height: var(--cycle-height);
}

.td-signal-high::after {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    height: calc(var(--cycle-height) / 2);
}

.td-signal-low + .td-signal-high::after {
    border-left: var(--border-weight) solid var(--signal-general-border-color);
}

.td-signal-low::before {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    height: calc(var(--cycle-height) / 2);
}

.td-signal-high + .td-signal-low::before {
    border-left: var(--border-weight) solid var(--signal-general-border-color);
}

.td-signal-low {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: var(--border-weight) solid var(--signal-general-border-color);
    height: var(--cycle-height);
}

.td-signal-low::after {
    display: inline-block;
    box-sizing: border-box;
    content: '';
    height: calc(var(--cycle-height) / 2);
}

.td-signal-high + .td-signal-low::after {
    border-left: var(--border-weight) solid var(--signal-general-border-color);
}

.td-signal-smooth-after {
    border-top-left-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-bottom-left-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
}

.td-signal-smooth-before {
    border-top-right-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
    border-bottom-right-radius: calc(var(--cycle-height) / 4) calc(var(--cycle-height) / 2);
}
